<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="post_content">
        <div class="drone-errors">
          <%= render 'shared/errors', resource: @component_category %>
        </div>
        <hr>
          <li><%= @component_category.title %></li>
            <% if user_signed_in? %>
              <p><%= link_to 'Edit', edit_component_category_path(@component_category), class: 'btn btn-info edit-drone-link' %></p>
              <p><%= button_to 'Delete', component_category_path(@component_category), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger' %></p>
            <% end %>
        <br>
        </div>
      </div>
    </div>
  </div>
