<% if user_signed_in? %>
  <div class="comment-errors">
    <%= render 'shared/errors', resource: @comment %>
  </div>
    <%= form_with model: [@drone, @drone.comments.new], local: false, id: 'new-comment' do |f| %>
      <div class="form-floating">
        <%= f.text_area :body, class: "form-control", placeholder: "Leave a comment here", id: "floatingTextarea" %>
        <label for="floatingTextarea">Leave a comment here</label>
        <div class="float-start mt-2 pt-1">
          <%= f.submit 'Create comment', class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
<% end %>
