<div class="form_comment">
  <% if user_signed_in? %>
    <div class="comment-errors">
      <%= render 'shared/errors', resource: @comment %>
    </div>
      <%= form_with model: [@drone, @comment], local: false do |f| %>
        <div class="form-floating">
          <%= f.text_area :body, class: "form-control", placeholder: "Leave a comment here", id: "floatingTextarea" %>
          <label for="floatingTextarea">Leave a comment here</label>
          <div class="float-start mt-2 pt-1">
            <%= f.submit 'Update comment', class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
  <% end %>
</div>
