<br>
<div class="container">
  <div class="main-body">
      <div class="row gutters-sm">
        <div class="col-md-4 mb-3">
          <div class="card">
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                <h6 class="mb-0">All builds: </h6>
                <div id="drone">
                  <span class="text-secondary"><%= all_count_drone %></span>
                </div
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                <h6 class="mb-0">All comments: </h6>
                <div id="comment">
                  <span class="text-secondary comment"><%= all_count_comment %></span>
              </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-12">
                  <li></li>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
