<% if @drone.gallerys.attached? %>
<div class="grid text-center">
  <div class="g-col-6 g-col-md-4">
  <% @drone.gallerys.each do |pic| %>
      <%= link_to url_for(pic) do %>
          <%= image_tag url_for(pic.variant(resize_to_fit: [500, 500])) %>
      <% end %>
  <% end %>
  </div>
</div>
<% end %>