<br>
<div class="row row-cols-2 row-cols-md-2 g-4">
  <% @drones.each do |drone| %>
    <div class="col">
      <%= link_to drone_path(drone) do %>
        <div class="card">
          <%= image_tag drone.foto, alt: "#{drone.title}", height: 450, width: 635 %>
          <div class="card-body">
            <h5 class="card-title"><%= drone.title %></h5>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>