header.masthead {
    margin-bottom: 18px;
    background: no-repeat center center;
    background-color: --bs-gray-600;
    background-attachment: scroll;
    position: relative;
    background-size: cover;
    box-shadow: inset 0px 150px 30px 0px rgba(18, 18, 18, 0.2);

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: --bs-gray-900;
        opacity: 0.5;
    }

    .page-heading,
    .post-heading,
    .site-heading {
        padding: 200px 0 150px;
        color: white;

        @media only screen and (min-width: 768px) {
            padding: 250px 0;
        }
    }

    .page-heading,
    .site-heading {
        text-align: center;

        h1 {
            font-size: 50px;
            margin-top: 0;
        }

        .subheading {
            font-size: 24px;
            font-weight: 300;
            line-height: 1.1;
            display: block;
            margin: 10px 0 0;
            font-family: --bs-headings-font-family;
        }

        @media only screen and (min-width: 768px) {
            h1 {
                font-size: 80px;
            }
        }
    }

    .post-heading {
        h1 {
            font-size: 35px;
            position: absolute;
            top: 20px;
            left: 30px;
            display: inline;
        }

        .meta,
        .subheading {
            line-height: 1.1;
            display: block;
            position: absolute;
            top: 90px;
            left: 30px;
        }

        .subheading {
            font-size: 24px;
            font-weight: 600;
            margin: 10px 0 30px;
            font-family: --bs-headings-font-family;
        }

        .meta {
            font-size: 20px;
            font-weight: 300;
            font-family: --bs-font-family-base;

            a {
                color: --bs-white;
            }
        }

        @media only screen and (min-width: 768px) {
            h1 {
                font-size: 55px;
            }

            .subheading {
                font-size: 30px;
            }
        }
    }
}

.content .content-overlay{
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s
}
.content:hover .content-overlay{
  opacity: 1
}
.content-image{
  width: 100%
}
img{
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px
}
.content-details{
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s
}
.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1
}
.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase
}
.content-details p{
  color: #fff;
  font-size: 0.8em
}
.fadeIn-bottom{
  top: 80%
}

.header-card {
  margin:10px;
}

/* Prevent image stretching as it's resized */
.card-img-top {
    object-fit: cover;
}

/* Responsive design for image heights */
@media (min-width: 576px) {
  .card-img-top {
    height: 50vw;
  }
}

@media (min-width: 768px) {
  .card-img-top {
    height: 30vw;
  }
}

@media (min-width: 992px) {
  .card-img-top {
    height: 25vw;
  }
}

@media (min-width: 1200px) {
  .card-img-top {
    height: 20vw;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 12px;
 }

.page-link.active, .active > .page-link {
  z-index: 3;
  color: var(--bs-pagination-active-color);
  background-color: #4474af;
  border-color: #4474af;
}
