.password_field {
    position: relative;
}

.password_field .fa-eye { 
    position: absolute;
    top: 35%;
    right: 4%;
    cursor: pointer;
}

.password_field .fa-eye-slash { 
    position: absolute;
    top: 35%;
    right: 4%;
    cursor: pointer;
}